<div style="overflow-y: auto; height: 100%">
  <nav class="navbar navbar-light bg-light mb-md-3">
    <button class="navbar-toggler p-2" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-3" style="flex: 1" href="#">Users</a>
  </nav>

  <div class="container">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td><a href="#!/user/1">edit</a></td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td><a href="#!/user/1">edit</a></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td><a href="#!/user/1">edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
