<xin-lazy-view-middleware></xin-lazy-view-middleware>

<x-shelf>
  <x-drawer id="drawer">
    <div class="d-flex align-items-center p-3">
      <div class="avatar"><img src="https://graph.facebook.com/530448323/picture?type=large" alt="" class="img-fluid rounded-circle" style="width: 100px; height: 100px;"></div>
      <div class="title ml-2">
        <h1 class="h4">Ganesha</h1>
        <p>Evangelist</p>
      </div>
    </div>
    <x-sidemenu></x-sidemenu>
  </x-drawer>

  <div main>
    <xin-pager>
      <x-login-view lazy-view uri="/login"></x-login-view>
      <x-home-view lazy-view uri="/"></x-home-view>
      <x-user-single-view lazy-view uri="/user/new" title="New User"></x-user-single-view>
      <x-user-single-view lazy-view uri="/user/edit/{id}" title="Edit User"></x-user-single-view>
      <x-user-list-view lazy-view uri="/user/list[/skip/{skip}/limit/{limit}]"></x-user-list-view>
    </xin-pager>
  </div>
</x-shelf>
