<!-- <div class="list-group">
  <a href="#!/" class="list-group-item list-group-item-action"><span class="oi oi-home"></span> Home</a>
  <a href="#!/user" class="list-group-item list-group-item-action"><span class="oi oi-person"></span> User</a>
  <a href="#!/login" class="list-group-item list-group-item-action"><span class="oi oi-account-logout"></span> Logout</a>

  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 0</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 1</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 2</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 3</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 4</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 5</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 6</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 7</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 8</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 9</a>
</div> -->

<div id="accordion">
  <div class="card">
    <div class="list-group">
      <a href="#!/" class="list-group-item"><span class="oi oi-home"></span> Home</a>
    </div>
  </div>

  <div class="card">
    <a class="card-header" data-toggle="collapse" data-target="#collapse1">Master Data</a>

    <div id="collapse1" class="collapse show list-group" data-parent="#accordion">
      <a href="#!/user/list" class="list-group-item"><span class="oi oi-person"></span> User</a>
    </div>
  </div>

  <div class="card">
    <a class="card-header" data-toggle="collapse" data-target="#collapse2">Custom</a>

    <div id="collapse2" class="collapse list-group" data-parent="#accordion">
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 0</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 1</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 2</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 3</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 4</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 5</a>
      <a href="#" class="list-group-item"><span class="oi oi-spreadsheet"></span> Custom 6</a>
    </div>
  </div>

  <div class="card">
    <div class="list-group">
      <a href="#!/login" class="list-group-item"><span class="oi oi-account-logout"></span> Logout</a>
    </div>
  </div>
</div>
