<div class="list-group">
  <a href="#!/" class="list-group-item list-group-item-action"><span class="oi oi-home"></span> Home</a>
  <a href="#!/user" class="list-group-item list-group-item-action"><span class="oi oi-person"></span> User</a>
  <a href="#!/login" class="list-group-item list-group-item-action"><span class="oi oi-account-logout"></span> Logout</a>

  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 0</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 1</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 2</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 3</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 4</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 5</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 6</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 7</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 8</a>
  <a href="#" class="list-group-item list-group-item-action"><span class="oi oi-spreadsheet"></span> Custom 9</a>

</div>
